/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
.navbar {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    width: 100px;
    margin-right: 20px;
}

.nav ul {
    list-style-type: none;
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Hero Section Styles */
.hero {
    background-image: url("https://thefatork.store/cdn/shop/articles/netflix.jpg?v=1669877376");
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.25rem;
    margin-top: 20px;
}

/* Call-to-Action Button Styles */
.cta-button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.25rem;
    cursor: pointer;
}

/* Call-to-Action Button Styles */
.cft-button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.25rem;
    cursor: pointer;
}

/* Featured Section Styles */
.featured {
    background-color: #111;
    color: #fff;
    padding: 40px 0;
}

.featured h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.movie-card {
    margin: 20px;
    display: inline-block;
}

.movie-card img {
    max-width: 100%;
}

/* Footer Styles */
.footer {
    background-color: #000;
    text-align: center;
    padding: 20px 0;
    color: #888;
}
